.text-decoration-none{
    text-decoration: none;
    color: black;
}

.list-style-none{
    list-style: none;
}


.fs-3{
    font-size: medium;
}

.border-bottom-black{
    border-bottom: 2px solid black;
}

.video{
    
    height: 100vh;
    position: fixed;
    z-index: -1000;
    
}


.mt-5{
    margin-top: 50px;
}

.ml-5{
    margin-left: 110px;
}

.headerNavbar{
    z-index: 1;
}
